.test{
    background-color: #e03546;
}

.react-datepicker-wrapper{
    width: 100%;
}

.transition-background{
    max-width: 100%;
}

.checkboxSpace{
    margin-right: 10px;
}

.max-w-\[284px\]{
    max-width: 100%!important;
}

.date-picker-css{
    border-radius: 10px;
    padding: 0px 12px;
    border: 2.3px solid #e4e4e7; 
    width: 100%;
    height: 54px;
    margin-top: 3px; 
    cursor: pointer;
}

.date-picker-css:hover{
    border: 2.3px solid #a1a1aa;
}

input[type="date"] {
    background-color: white;
    -webkit-appearance : none;
}
.paddingZero{
    padding: 0px!important;
}
@media only screen and (max-width: 600px) {
    .mobile-filter{
        display: block!important;
    }
    .dddd{
        margin-left: -18px!important;
    }
    .hide{
        display: none;
    }
    .mobile-date{
        /* margin-left: auto;
        display: block!important; */
    }
    header{
        /* background-color: #e03546; */
        padding-left: 25px!important;
        gap: 0px!important;
    }
    .time-space{
        margin-bottom: 20px;
    }
    .label-wt{
        font-weight: 345;
    }
    .max-w-\[400px\]{
        max-width: 100%;
    }
    .bg-content1{
        margin: contents!important;
    }
    .mobile-login{
        padding: 21px 5px!important;
    }
    .mobile-bot-space{
        margin-bottom: 25px
    }
    .imageCenter{
        margin-left: 13px;
    }
    .mobile-padding{
        padding: 12px 12px 13px 32px!important;
    }
    .bot-space{
        margin-bottom: -16px!important;
    }
    .mobile-price{
        display: block!important;
    }
    .mobile-price-hide{
        display: none;
    }
    .mobile-view{
        margin: 0px!important;
    }
  }

  